.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-container input {
  width: 50%;
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

button {
  margin-left: -16px;
  width: 150px;
  border: none;
  border-bottom: 1px solid #ccc;
}

input[type='text'] {
  padding: 0.5rem;
  margin-right: 1em;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  max-width: 600px;
}
